<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off"/>
	</system.web>
	<system.webServer>
		<httpErrors errorMode="Detailed" />
	</system.webServer>
	<connectionStrings>
		<add name="dbbagla" connectionString="Data Source=serveradiniz;Initial Catalog=haberdb;User ID=duser;Password=passwd" providerName="System.data.sqlclient"/>
	</connectionStrings>

</configuration>
